# AI agent files
ai/
CLAUDE.md
.claude
.code-review-graph
.mcp.json
.mcpregistry_github_token
.mcpregistry_registry_token

# Go build artifacts
/bin/
/dist/

# Plugin
node_modules/
plugin/dist/
plugin/coverage/

# OS
.DS_Store
**/.DS_Store

output/
example/
.vscode/
release
localonly

.agents
graphify-out
.graphifyignore
/.tmp